.App {
  text-align: center;
  position: relative; /* Required for absolute positioning of children */
  min-height: 100vh; /* Example: Full height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align children to the top */
}

.App-header {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.card-fixed-size {
  width: 230px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  text-align: center;
}

.card-custom {
  margin-bottom: 50px;
  border: 2px solid black;
  border-radius: 10px;
}

/* Space between cards */
.g-4 {
  margin-right: 20rem;
  margin-left: 20rem;
}

.g-4 > .col {
  padding-right: 2rem;
  padding-left: 2rem;
}

/* themes */
:root {
  --color-light-background: #fff;
  --color-light-text: #000;
  --color-dark-background: #333;
  --color-dark-text: #fff;
}

body.light {
  background-color: var(--color-light-background);
  color: var(--color-light-text);
}

body.dark {
  background-color: var(--color-dark-background);
  color: var(--color-dark-text);
}