.App {
  text-align: center;
}

.card-fixed-size {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  text-align: center;
}

.card-custom {
  margin-bottom: 50px;
  border: 2px solid black;
  border-radius: 10px;
}

/* Space between cards */
.g-4 {
  margin-right: 20rem;
  margin-left: 20rem;
}

.g-4 > .col {
  padding-right: 2rem;
  padding-left: 2rem;
}

